.contract-conditions .ant-descriptions-item-label {
  font-size: 1rem;
}

.contract-conditions .ant-descriptions-item-content {
  font-size: 1rem;
}

.contract-conditions .ant-descriptions-item-content .anticon {
  font-size: 1.4rem;
}
