input,
button {
  font-family: verdana, ubuntu;
}

.chat-box {
  overflow-y: scroll;
  height: 800px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.chat-list {
  min-width: 240px;
  max-width: 380px;
  overflow: auto;
}

.rce-sbar {
  background: none !important;
  padding: 0 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.chat-right-side {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-sbar-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-citem,
.rce-container-citem {
  min-width: 100px !important;
}

.rce-citem-body {
  border-bottom: none !important;
}

.rce-container-clist {
  width: 100%;
}

.rce-container-input {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.rce-container-input > textarea {
  overflow-y: hidden;
}

.message-list {
  flex: 1;
  overflow: auto;
}

.input-area {
  height: 50px;
  background: red;
}

.rce-mlist {
  max-height: calc(100vh - 76px - 45px);
}
