.contract-progress .ant-card-grid {
  text-align: center;
}

.contract-progress .ant-card-grid h4 {
  font-size: 28px;
}

.contract-progress .ant-card-grid h4 > span {
  font-size: 28px;
}

.contract-progress .ant-card-grid h4 > img {
  width: 28px;
}

.contract-progress .ant-card-grid p {
  font-size: 1.3rem;
}

.ant-table-row {
  color: white;
}

.ant-table-cell {
  font-size: 1rem;
}

.ant-table-cell:first-child {
  text-align: center;
  font-size: 1.1rem;
}

.ant-table-row.positive {
  background-color: #2e7d32;
}

.ant-table-row.positive:hover > .ant-table-cell {
  background-color: #4caf50 !important;
}

.ant-table-row.negative {
  background-color: #c62828;
}

.ant-table-row.negative:hover > .ant-table-cell {
  background-color: #f44336 !important;
}

.ant-table-row.equal {
  background-color: #1565c0;
}

.ant-table-row.equal:hover > .ant-table-cell {
  background-color: #2196f3 !important;
}
