.App {
  text-align: center;
}

.root-container {
  height: 100vh;
}

.ant-layout-content {
  max-height: calc(100% - 76px);
}

.app-bar {
  padding: 0 !important;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.action-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 18px;
}

.field-title {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 6px;
}

@media (min-width: 1430px) {
  .root-container {
    margin: 0 300px;
  }

  .ant-modal {
    width: 800px !important;
  }

  .instructions-list {
    width: 100%;
  }
}

@media (max-width: 1430px) {
  .root-container {
    margin: 0 32px;
  }

  .ant-modal {
    width: 80% !important;
  }

  .instructions-list {
    width: 80%;
  }
}
